.menu-block {
	left: 20px;
	top: 20px;
	position: absolute;
}

.player-block {
	bottom: 20px;
	right: 20px;
	position:absolute;
}

.volume-block {
	bottom:20px;
	left:20px;
	position:absolute;
}

.menu-button {
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}

.player-button {
	margin-left:15px;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}

.volume-button {
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}

.button-highlight {
	color: #0FF;
}

.random-on {
	color: #0F0;
}

.volume-muted {
	color:#F00;
}