.panel.panel-default
	.panel-body
		i.fa.fa-bars.fa-2x(ng-class="{'button-highlight': menu.hover}", ng-mouseenter="menu.hover=true", ng-mouseleave="menu.hover=false", ng-click="toggle(showmenu)")
		h3 Now Playing
		h4.now-playing-title {{currentClip.name}}
	ul.list-group
		li.list-group-item(ng-repeat="c in menuControls", ng-class="{'menu-highlight': c.hover}", ng-mouseenter="c.hover=true", ng-mouseleave="c.hover=false", ng-click="c.click()") 
			span
				i.fa.fa-pause.fa-1x(ng-show="c.name === 'pause'")
				i.fa.fa-play.fa-1x(ng-show="c.name === 'play'")
				i.fa.fa-step-forward.fa-1x(ng-show="c.name === 'forward'")
				i.fa.fa-step-backward.fa-1x(ng-show="c.name === 'backward'")
				i.fa.fa-random.fa-1x(ng-show="c.name === 'random'")
				i.fa.fa-refresh.fa-1x(ng-show="c.name === 'repeat'")
				i.fa.fa-volume-off.fa-1x(ng-show="c.name === 'mute'")
				| &nbsp; {{c.label()}}
			strong
				span(ng-show="c.name === 'repeat' && repeat.enabled") ON
				span(ng-show="c.name === 'repeat' && !repeat.enabled") OFF			
				span(ng-show="c.name === 'random' && random.enabled") ON
				span(ng-show="c.name === 'random' && !random.enabled") OFF
				span(ng-show="c.name === 'mute' && mute.enabled") ON
				span(ng-show="c.name === 'mute' && !mute.enabled") OFF
	.panel-footer
		p.text-info Kameha.me is a work-in-progress. More clips &amp; features to come.
		p.text-danger Developer Hotline: 
			a(href="https://twitter.com/gravitypriest") @gravitypriest