.menu-block.noselect(ng-show="!showmenu.enabled")
    i.fa.fa-2x.fa-bars.menu-button(ng-class="{'button-highlight': menu.hover}", ng-mouseenter="menu.hover=true", ng-mouseleave="menu.hover=false", ng-click="toggle(showmenu)")
.menu-open-block.noselect(ng-include="'menu.html'", ng-show="showmenu.enabled")
.volume-block.noselect
    i.fa.fa-2x.volume-button(ng-class="{'fa-volume-up': !mute.enabled, 'fa-volume-off': mute.enabled, 'volume-muted': mute.enabled && !vol.hover, 'button-highlight': vol.hover}", ng-mouseenter='vol.hover=true', ng-mouseleave='vol.hover=false', ng-click='toggle(mute)')
    i.fa.fa-times.volume-button.volume-mutex(ng-show='mute.enabled', ng-class="{'volume-muted': mute.enabled && !vol.hover, 'button-highlight': vol.hover}", ng-mouseenter='vol.hover=true', ng-mouseleave='vol.hover=false', ng-click='toggle(mute)')
    .volume-container(ng-mousedown='clickDownVolume($event)')
        .volume-piece.amt(ng-style="{'width': currentVolume().volume}")
        .volume-piece.grabber
        .volume-piece.bg(ng-style="{'width': currentVolume().opposite}")
.player-block.noselect
    i.fa.fa-step-backward.fa-2x.player-button(ng-class="{'button-highlight': back.hover}", ng-mouseenter="back.hover=true", ng-mouseleave="back.hover=false", ng-click="skipBackward()")
    i.fa.fa-pause.fa-2x.player-button(ng-class="{'fa-pause':playing.enabled, 'fa-play': !playing.enabled, 'button-highlight': play.hover, 'play-button': !playing.enabled}", ng-mouseenter="play.hover=true", ng-mouseleave="play.hover=false", ng-click="toggle(playing)")
    i.fa.fa-step-forward.fa-2x.player-button(ng-class="{'button-highlight': fwd.hover}", ng-mouseenter="fwd.hover=true", ng-mouseleave="fwd.hover=false", ng-click="skipForward()")
    i.fa.fa-refresh.fa-2x.player-button(ng-class="{'random-on': repeat.enabled && !rpt.hover, 'button-highlight': rpt.hover}", ng-mouseenter='rpt.hover=true', ng-mouseleave='rpt.hover=false', ng-click="toggle(repeat)")
    i.fa.fa-random.fa-2x.player-button(ng-class="{'random-on': random.enabled && !rdm.hover, 'button-highlight': rdm.hover}", ng-mouseenter='rdm.hover=true', ng-mouseleave='rdm.hover=false', ng-click="toggle(random)")